/*
  html-styles.css
  ChitChat (HTML+CSS)
  (c) Donald Leung.  All rights reserved.
  MIT Licensed
*/

.tag {
  color: rgb(255, 117, 117);
}
.attr-name {
  color: orange;
}
.attr-value {
  color: lime;
}
.comment {
  color: #666;
}
.htmlspecialchar {
  color: magenta;
}
